*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}
.header {
  background-color: #0044cc;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;

}
header h1{
  font-size: 1.5rem;
}
section{
  margin-top: 2rem;
}
.header nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  padding: .5rem;
  border-radius: 5px;
}
.header nav a:hover{
  background: rgba(0,0,0,.5);
}

.hero {
  text-align: center;
  background: url('hotel.jpg') no-repeat center center/cover;
  color:white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .container{
  padding: 4rem;
  border-radius: 20px;
  background: rgba(0,0,0,.5);
}
.hero .container h2{
  font-size: 3rem;
}
.hero .container p{
  font-size: 1.3rem;
  color: #f5f5f5f5;
}

.rooms {
  background: #f4f4f4;
  width: 100vw;
  height: 120vh;
  margin-top: 2rem;
}
.rooms h2{
  text-align: center;
}

.rooms .room {
  margin: 15px 0;
}

.booking-form {
  width: 100vw;
  height: 100vh;
  margin-top: 2rem;
}
.booking-form h2{
  text-align: center;
}

.booking-form form {
  display: grid;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

button {
  background-color: #0044cc;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #002a80;
}

.footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.rooms .room{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 1rem;
}
.room .container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.room .container .image-container, .room .container .data{
  position: relative;
  width: 50%;
  height: 100%;
}
.aboutus .data .link{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  align-items: center;
}
.aboutus .data h3{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.aboutus .data div i{
  font-size: 1.5rem;
}
.aboutus .data h2{
  margin-top: 2rem;
  margin-bottom: 2rem;
}